

/*    RESET    */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
--dark-900: hsl(200, 50%, 5%);
--dark-700: hsl(200, 40%, 15%);
--dark-500: hsl(200, 35%, 20%);
--dark-200: hsl(200, 40%, 65%);

--accent-800: hsl(200, 95%, 50%);
--accent-700: hsl(201, 80%, 75%);
--accent-600: hsl(201, 90%, 80%);


--color-white: hsl(200, 15%, 98%);
--color-white-400: hsl(200, 25%, 80%);
--color-white-200: hsl(200, 20%, 93%);
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}



html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  background-color: var(--dark-900);
  font-family: "Montserrat Variable", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-white);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
}

/* CANVAS */
.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}


#canvasTorus {
  width: 100%;
  height: 100%;
  opacity: 1;
  /* ADD THIS */
  clip-path: circle(0px at center);
  /* transform: scale(0.3); */

  background-color: var(--dark-900);
  position: absolute;
  z-index: 100;
}

#canvasClear {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  /* Start hidden */
}

/* .square {
  background-color: white;
  width: 200px;
  height: 250px;
} */

.scroller {
  position: sticky;
  top: 0;
    /* overflow-y: auto; 
  -webkit-overflow-scrolling: touch;  */
  height: 100dvh;
  width: 100%;

}

/* .scroller-one {
  border: 10px solid red;
}

.scroller-two {
  border: 10px solid gray;
}

.scroller-three {
  border: 10px solid purple;
} */

/* .scroller-four {

  border: 5px solid green;

}

.scroller-five {

  border: 5px solid red;

}
.scroller-six {

  border: 5px solid purple;

} */

.spacer {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 100%;
}

.spacer-sm {
  position: sticky;
  top: 0;
  height: 50dvh;
}

.spacer,
.spacer-sm,
.scroller {
  pointer-events: none;
}