---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../sections/Hero.astro";
import Intro from "../sections/Intro.astro";
import Info from "../sections/Info.astro";
import Partner from "../sections/Partner.astro";


import ParticleCanvas from "../canvasComponents/ParticleCanvas.astro";
---

<BaseLayout>
  <Hero />
  <main class="main">
    <Intro />
    <div aria-hidden="true" class="scroller scroller-one"></div>
    <div aria-hidden="true" class="scroller scroller-two"></div>
    <div aria-hidden="true" class="scroller scroller-three"></div>
	<Info/>
	<Partner/>
	<div aria-hidden="true" class="scroller scroller-four"></div>

  </main>

  <div class="canvas-container">
    <ParticleCanvas />
  </div>
</BaseLayout>
