---
import BaseLayout from "../layouts/BaseLayout.astro";

import Challenge from "../sections/Challenge.astro";
import Approach from "../sections/Approach.astro";
import Matter from "../sections/Matter.astro";


import ParticleCanvas from "../canvas/ParticleCanvas.astro"
---
<BaseLayout>
<Challenge />
<Approach />
<Matter />


 <div class="canvas-container">

    <ParticleCanvas />
  </div>
</BaseLayout>