---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../sections/Hero.astro";
import Intro from "../sections/Intro.astro";
import Info from "../sections/Info.astro";
import WhyList from "../sections/WhyList.astro";
import Partner from "../sections/Partner.astro";

import NanniMain from "../sections/nanni/NanniMain.astro";
import NanniScope from "../sections/nanni/NanniScope.astro";
import NanniOutlook from "../sections/nanni/NanniOutlook.astro";

import Outro from "../sections/Outro.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";

import ParticleCanvas from "../canvasComponents/ParticleCanvas.astro";
import TorusCanvas from "../canvasComponents/TorusCanvas.astro";
import CanvasClear from "../canvasComponents/CanvasClear.astro";
---

<BaseLayout>
  <Hero />
  <main class="main">
    <Intro />
    <div aria-hidden="true" class="scroller scroller-one"></div>
    <div aria-hidden="true" class="scroller scroller-two"></div>
    <div aria-hidden="true" class="scroller scroller-three"></div>
    <Info />
    <WhyList />
    <Partner />

    <div aria-hidden="true" class="scroller scroller-four"></div>

    <NanniMain />

    <div aria-hidden="true" class="spacer spacer-two"></div>

    <NanniScope />
    <div aria-hidden="true" class="spacer spacer-two"></div>

    <NanniOutlook />

    <Outro />

    <div aria-hidden="true" class="scroller scroller-six"></div>

    <div class="spacer-sm"></div>

    <Contact />


  </main>

  <Footer/>

  <div class="canvas-container">
    <TorusCanvas />
    <ParticleCanvas />
    <CanvasClear />
  </div>
</BaseLayout>
