---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
    <style>
      /*  SVG STUFF */
      #svg-container {
        position: fixed;
        height: 100vh;
        inset: 0;
        /* z-index: 9999; */
        mix-blend-mode: screen;
      }

      #svg-container.svg-center {
        display: grid;
        place-items: center;
      }
      .dot {
        fill: #00d4ff;
        filter: drop-shadow(0 0 3px rgba(0, 188, 212, 0.5));
      }
      .circle-group {
        transform-origin: center;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @media (max-width: 768px) {
        .dot {
          r: 1;
        }
      }

      .hero-one {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
      }

      @media screen and (min-width: 600px) {
        .hero-one {
          height: 70%;
          width: 80%;
          display: grid;
          grid-template-columns: 40% 1fr 100px 100px 1fr;
          grid-template-rows: 33% 1fr 1fr;
        }
      }
      .hero {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #c2f9ff;
        background: radial-gradient(
          circle,
          rgba(194, 249, 255, 1) 2%,
          rgba(0, 212, 255, 1) 10%,
          rgba(26, 26, 46, 1) 32%
        );
      }

      .hero-title {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 3rem;
        grid-column: 1/1;
        grid-row: 1;
        width: 100%; /*pushing it to side of grid column */
      }
      .hero-subtitle {
        font-family: "JetBrains Mono", monospace;
        font-size: 1.75rem;
        grid-column: 1/1;
        grid-row: 2;
        width: 100%; /*pushing it to side of grid column */
      }
      .hero-subtitle span {
        display: block;
      }

      .hero-statement {
        font-optical-sizing: auto;
        font-size: 3rem;
        color: #ffd700;
        grid-column: 1/3;
        grid-row: 3;
        width: 100%; /*pushing it to side of grid column */
      }
      .hero-chip-img-container {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 200px;
        width: 100px;
        background-image: url("../images/microchip.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 2;
      }

      .hero-wave-img-container {
        grid-column: 4/-1;
        grid-row: 3/-1;
        height: 200px;
        width: 300px;
        background-image: url("../images/wave-microchip.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    </style>
  </head>
  <body>
    <div id="svg-container" class="svg-center">
      <svg class="circles-svg" width="600" height="600" viewBox="0 0 600 600">
        <!-- New outermost circle (largest dots, furthest) -->
        <g class="circle-group circle-outer">
          <circle class="dot" cx="300" cy="50" r="6"></circle>
          <circle class="dot" cx="450" cy="75" r="6"></circle>
          <circle class="dot" cx="550" cy="200" r="6"></circle>
          <circle class="dot" cx="575" cy="300" r="6"></circle>
          <circle class="dot" cx="550" cy="400" r="6"></circle>
          <circle class="dot" cx="450" cy="525" r="6"></circle>
          <circle class="dot" cx="300" cy="550" r="6"></circle>
          <circle class="dot" cx="150" cy="525" r="6"></circle>
          <circle class="dot" cx="50" cy="400" r="6"></circle>
          <circle class="dot" cx="25" cy="300" r="6"></circle>
          <circle class="dot" cx="50" cy="200" r="6"></circle>
          <circle class="dot" cx="150" cy="75" r="6"></circle>
          <circle class="dot" cx="388" cy="63" r="6"></circle>
          <circle class="dot" cx="537" cy="112" r="6"></circle>
          <circle class="dot" cx="537" cy="188" r="6"></circle>
          <circle class="dot" cx="537" cy="412" r="6"></circle>
          <circle class="dot" cx="537" cy="488" r="6"></circle>
          <circle class="dot" cx="388" cy="537" r="6"></circle>
          <circle class="dot" cx="212" cy="537" r="6"></circle>
          <circle class="dot" cx="63" cy="488" r="6"></circle>
          <circle class="dot" cx="63" cy="412" r="6"></circle>
          <circle class="dot" cx="63" cy="188" r="6"></circle>
          <circle class="dot" cx="63" cy="112" r="6"></circle>
          <circle class="dot" cx="212" cy="63" r="6"></circle>
        </g>

        <!-- Previous outermost circle (second largest dots) -->
        <g class="circle-group circle-0">
          <circle class="dot" cx="400" cy="100" r="5"></circle>
          <circle class="dot" cx="300" cy="100" r="5"></circle>
          <circle class="dot" cx="424" cy="141" r="5"></circle>
          <circle class="dot" cx="500" cy="300" r="5"></circle>
          <circle class="dot" cx="424" cy="459" r="5"></circle>
          <circle class="dot" cx="300" cy="500" r="5"></circle>
          <circle class="dot" cx="400" cy="600" r="5"></circle>
          <circle class="dot" cx="176" cy="459" r="5"></circle>
          <circle class="dot" cx="100" cy="300" r="5"></circle>
          <circle class="dot" cx="176" cy="141" r="5"></circle>
          <circle class="dot" cx="362" cy="118" r="5"></circle>
          <circle class="dot" cx="482" cy="238" r="5"></circle>
          <circle class="dot" cx="482" cy="362" r="5"></circle>
          <circle class="dot" cx="362" cy="482" r="5"></circle>
          <circle class="dot" cx="238" cy="482" r="5"></circle>
          <circle class="dot" cx="118" cy="362" r="5"></circle>
          <circle class="dot" cx="118" cy="238" r="5"></circle>
          <circle class="dot" cx="238" cy="118" r="5"></circle>
        </g>
        <g class="circle-group circle-1">
          <circle class="dot" cx="300" cy="100" r="5"></circle>
          <circle class="dot" cx="424" cy="141" r="5"></circle>
          <circle class="dot" cx="500" cy="300" r="5"></circle>
          <circle class="dot" cx="424" cy="459" r="5"></circle>
          <circle class="dot" cx="300" cy="500" r="5"></circle>
          <circle class="dot" cx="176" cy="459" r="5"></circle>
          <circle class="dot" cx="100" cy="300" r="5"></circle>
          <circle class="dot" cx="176" cy="141" r="5"></circle>
          <circle class="dot" cx="362" cy="118" r="5"></circle>
          <circle class="dot" cx="482" cy="238" r="5"></circle>
          <circle class="dot" cx="482" cy="362" r="5"></circle>
          <circle class="dot" cx="362" cy="482" r="5"></circle>
          <circle class="dot" cx="238" cy="482" r="5"></circle>
          <circle class="dot" cx="118" cy="362" r="5"></circle>
          <circle class="dot" cx="118" cy="238" r="5"></circle>
          <circle class="dot" cx="238" cy="118" r="5"></circle>
        </g>

        <!-- Third circle -->
        <g class="circle-group circle-2">
          <circle class="dot" cx="300" cy="150" r="4"></circle>
          <circle class="dot" cx="389" cy="189" r="4"></circle>
          <circle class="dot" cx="450" cy="300" r="4"></circle>
          <circle class="dot" cx="389" cy="411" r="4"></circle>
          <circle class="dot" cx="300" cy="450" r="4"></circle>
          <circle class="dot" cx="211" cy="411" r="4"></circle>
          <circle class="dot" cx="150" cy="300" r="4"></circle>
          <circle class="dot" cx="211" cy="189" r="4"></circle>
          <circle class="dot" cx="339" cy="161" r="4"></circle>
          <circle class="dot" cx="439" cy="261" r="4"></circle>
          <circle class="dot" cx="439" cy="339" r="4"></circle>
          <circle class="dot" cx="339" cy="439" r="4"></circle>
          <circle class="dot" cx="261" cy="439" r="4"></circle>
          <circle class="dot" cx="161" cy="339" r="4"></circle>
          <circle class="dot" cx="161" cy="261" r="4"></circle>
          <circle class="dot" cx="261" cy="161" r="4"></circle>
        </g>

        <!-- Second circle -->
        <g class="circle-group circle-3">
          <circle class="dot" cx="300" cy="200" r="3"></circle>
          <circle class="dot" cx="354" cy="225" r="3"></circle>
          <circle class="dot" cx="400" cy="300" r="3"></circle>
          <circle class="dot" cx="354" cy="375" r="3"></circle>
          <circle class="dot" cx="300" cy="400" r="3"></circle>
          <circle class="dot" cx="246" cy="375" r="3"></circle>
          <circle class="dot" cx="200" cy="300" r="3"></circle>
          <circle class="dot" cx="246" cy="225" r="3"></circle>
          <circle class="dot" cx="327" cy="209" r="3"></circle>
          <circle class="dot" cx="391" cy="273" r="3"></circle>
          <circle class="dot" cx="391" cy="327" r="3"></circle>
          <circle class="dot" cx="327" cy="391" r="3"></circle>
          <circle class="dot" cx="273" cy="391" r="3"></circle>
          <circle class="dot" cx="209" cy="327" r="3"></circle>
          <circle class="dot" cx="209" cy="273" r="3"></circle>
          <circle class="dot" cx="273" cy="209" r="3"></circle>
        </g>

        <!-- Third innermost circle -->
        <g class="circle-group circle-4">
          <circle class="dot" cx="300" cy="230" r="2"></circle>
          <circle class="dot" cx="321" cy="242" r="2"></circle>
          <circle class="dot" cx="330" cy="270" r="2"></circle>
          <circle class="dot" cx="370" cy="300" r="2"></circle>
          <circle class="dot" cx="330" cy="330" r="2"></circle>
          <circle class="dot" cx="321" cy="358" r="2"></circle>
          <circle class="dot" cx="300" cy="370" r="2"></circle>
          <circle class="dot" cx="279" cy="358" r="2"></circle>
          <circle class="dot" cx="270" cy="330" r="2"></circle>
          <circle class="dot" cx="230" cy="300" r="2"></circle>
          <circle class="dot" cx="270" cy="270" r="2"></circle>
          <circle class="dot" cx="279" cy="242" r="2"></circle>
        </g>

        <!-- Innermost circle (smallest dots) -->
        <g class="circle-group circle-5">
          <circle class="dot" cx="300" cy="280" r="1"></circle>
          <circle class="dot" cx="314" cy="286" r="1"></circle>
          <circle class="dot" cx="320" cy="300" r="1"></circle>
          <circle class="dot" cx="314" cy="314" r="1"></circle>
          <circle class="dot" cx="300" cy="320" r="1"></circle>
          <circle class="dot" cx="286" cy="314" r="1"></circle>
          <circle class="dot" cx="280" cy="300" r="1"></circle>
          <circle class="dot" cx="286" cy="286" r="1"></circle>
        </g>
      </svg>
    </div>
    <div class="hero">
      <div class="hero-one">
        <h1 class="hero-title">NANNI-O</h1>
        <p class="hero-subtitle">
          <span>Nano</span>
          <span>Artificial</span>
          <span>Neural</span>
          <span>Network</span>
          <span>Optical</span>
        </p>
        <p class="hero-statement">From wires to waves</p>
        <div class="hero-chip-img-container"></div>
        <div class="hero-wave-img-container"></div>
      </div>
      <div class="hero-2"></div>
    </div>

    <script>
      import {
        animate,
        createTimeline,
        createTimer,
        // ...other methods
      } from "animejs";
    </script>
  </body>
</html>
