<style>
  .approach-section {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-900);
  }

  .approach-section-inner {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
  }

  .approach-section_title {
    color: var(--accent-500);
  }

  .approach-section-cards-container {
    display: flex;
    gap: 2em;
  }

  .approach-section_card {
    background-color: var(--dark-700);
    padding: 2em 1.3em;
    border-radius: 30px;
  }
</style>

<div class="approach-section">
  <section class="approach-section-inner">
    <h2 class="section-title approach-section_title">Our approach</h2>
    <p class="section-text approach-section_text">
      We are developing a platform based on two core concepts:
    </p>
    <div class="approach-section-cards-container">
      <div class="approach-section_card">
        1. Holographic Optical Conductors (HOC)
      </div>
      <div class="approach-section_card">
        2. Holographic Optical Transistors (HOT)
      </div>
    </div>
    <p class="section-text approach-section_text">
      These structures are intended to use computer-generated nano-holography,
      structured optical media, and volumetric design principles to explore how
      light can be directed and used functionally in three-dimensional pathways
      for signal transport and switching behaviour.
    </p>
  </section>
</div>
