<style>

footer {
  font-family: "Montserrat", sans-serif;
  background-color: #0b0e14;
  color: white;
  /* height: 200px; */
  padding: 1.8em 1.3em;
  font-size: .8em;
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3em;
  text-align: center;
  transform-origin: bottom;
}

footer.hidden {
  transform: scale(0);
}

.footer-link a {
  color: #99FEFE;
  font-weight: bold;
}

</style>

 <footer>
    <p class="footer-text">@2025 AGI Infinity Limited (AGI ∞)</p>
    <p class="footer-text">14a Grange Park, Bishop's Stortford, </p>
    <p class="footer-text">England, CM23 2HX</p>
    <p class="footer-text">Company Number: 15989652</p>
    <p class="footer-text">Website designed and developed by <span class="footer-link"><a
          href="https://www.ricardobozzi.com/" target="_blank">Ricardo Bozzi</a></span>
    </p>
    <p class="footer-link"><a href="mailto:ricardo@ricardobozzi.com">ricardo@ricardobozzi.com</a></p>
    <p class="footer-text">Torus model by <span class="footer-link"><a
          href="https://sketchfab.com/3d-models/torus-explosion-6f0e7dd329f74a23b0ce2cf647d74f95" target="_blank">Tamminen</a></span>
    </p>
  </footer>