<style>
  .footer {
    background-color: var(--dark-900);
    padding-bottom: 2em;
  }

  .footer_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em;
  }

  .footer_logo {
    background: url("/images/agiinfinity-logo.png");
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_text {
    font-size: .9rem;
  }
</style>

<footer class="footer">
  <div class="footer_inner inner-container">
    <div class="footer_logo"></div>
    <div class="footer-details">
      <p class="footer_text">@2026 AGI Infinity Limited (AGI ∞)</p>
      <p class="footer_text">14a Grange Park, Bishop's Stortford,</p>
      <p class="footer_text">England, CM23 2HX</p>
      <p class="footer_text">Company Number: 15989652</p>
    </div>
  </div>
</footer>
