<style>
  .agi-outro {
    position: sticky;
    top: 0;
    overflow-y: auto;
    /* For content that's too tall */
    -webkit-overflow-scrolling: touch;

    min-height: 100dvh;
    width: 100%;
    background-color: #0b0e14;
    /* display: grid;
  place-items: center; */
    overflow: visible;
  }

  .agi-outro_details {
    height: 100dvh;
    width: 100%;
    display: grid;
    place-items: center;
  }

  /* .agi-outro-inner {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
} */
  .agi-outro-inner {
    height: 90%;
    width: min(90%, 700px);
    padding: 3em 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    line-height: 1.6;
  }

  .agi-outro_text > a {
    color: #0577b2;
  }
</style>

<div role="region" aria-label="outro" class="agi-outro">
  <div class="agi-outro_details">
    <div class="agi-outro-inner">
      <div class="agi-outro_text">
        We are looking for a partner to formulate a route to introduce the
        MOC/MOT version into the Semi conductor environment or jump into the
        Nano Optical Conductor/Transistor development to viably compete with
        CMOS2 on a hybrid basis.
      </div>
      <div class="agi-outro_text">
        Our NANNI-O platform scales down to nano via a proven Meta material; and
        with simulations completed, integrating an AI controlled native optical
        acceleration via our sister company ARCNet’s ARCEngine integrated
        control algorithm, we are now ready market awareness..
      </div>
      <div class="agi-outro_text">
        We are seeking a strategic partner to co-launch this post CMOS optical
        AI compute stack and dominate the $1T* photonic future.
      </div>
      <div class="agi-outro_text">
        Our sister company, which is Artificial Reasoning Computer Network GPT
        Limited (ARCNet), provides greatly enhanced Topic Specific, LLMs,
        producing faster, lower cost and less resource hungry, tokenisation
        constructs for AI modelling and for ASICs. It contains a key algorithm
        which is integrated into our MOT Websiite (<a
          href="https://arcnetgpt.co.uk/"
          target="_blank">www.arcnetgpt.co.uk</a
        >).
      </div>
    </div>
  </div>
</div>
