<style>
    .partner-section {
  position: sticky;
  top: 0;
  overflow-y: auto;
  /* For content that's too tall */
  -webkit-overflow-scrolling: touch;
  height: 100dvh;
  width: 100%;
  /* border: 5px solid white; */
  ;
  display: grid;
  place-items: center;
}

.partner-inner {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.partner_text {
  font-size: clamp(1.3rem, 5vw, 2rem);

  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
}
</style>


<div role="region" aria-label="mission" class="partner-section">
  <div class="partner-inner">
    <p class="partner_text">
      We are looking for a partner to formulate a route to introduce the MOC/MOT
      version into the Semi conductor environment and/or jump into the Nano
      Optical Conductor/Transistor development to viably compete with CMOS2 on a
      hybrid basis.
    </p>
  </div>
</div>
